body {
    width: 100%;
    margin: 0;
    background-color: #ffecf5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Hiragino Kaku Gothic Pro', 'Yu Gothic', sans-serif;

}


.At_A_Glance_Contents {
    width: 53.229%;
    margin: 0 auto;
}

.At_A_Glance_Title {
    z-index: 100;
    position: absolute;
    color: white;
    font-family: ab-kirigirisu, sans-serif;
    font-size: 48px;
    letter-spacing: -0.1em;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.Tiles {
    z-index: 100;
    position: absolute;
}

.Tile1 {
    z-index: 100;
    margin-top: 110px;
    position: absolute;
    width: 674px;
    height: 320px;

    background: #F7F6F5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}


/*

.Tile2 {
    z-index: 100;
    margin-top: 110px;
    margin-left: 708px;
    position: absolute;
    width: 320px;
    height: 320px;

    background: #F7F6F5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.Tile3 {
    z-index: 100;
    margin-top: 464px;
    position: absolute;
    width: 320px;
    height: 320px;

    background: #F7F6F5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.Tile4 {
    z-index: 100;
    margin-top: 464px;
    margin-left: 354px;
    position: absolute;
    width: 320px;
    height: 320px;

    background: #F7F6F5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}


.Tile5 {
    z-index: 100;
    margin-top: 464px;
    margin-left: 708px;
    position: absolute;
    width: 320px;
    height: 145px;

    background: #F7F6F5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

*/


.Tile2 {
    z-index: 100;
    margin-top: 110px;
    margin-left: 708px;
    position: absolute;
    width: 320px;
    height: 320px;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */

    background: rgba(247, 246, 245, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 15px;
}

.Tile3 {
    z-index: 100;
    margin-top: 464px;
    position: absolute;
    width: 320px;
    height: 320px;
    
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    
    background: rgba(247, 246, 245, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 15px;
}

.Tile4 {
    z-index: 100;
    margin-top: 464px;
    margin-left: 354px;
    position: absolute;
    width: 320px;
    height: 320px;
    
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    
    background: rgba(247, 246, 245, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 15px;
}


.Tile5 {
    z-index: 100;
    margin-top: 464px;
    margin-left: 708px;
    position: absolute;
    width: 320px;
    height: 145px;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */

    background: rgba(247, 246, 245, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 15px;
}

.Tile6 {
    z-index: 100;
    margin-top: 637px;
    margin-left: 708px;
    position: absolute;
    width: 145px;
    height: 145px;

    background: rgba(247, 246, 245, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 15px;
}

.Tile_Twitter_Logo {
    padding: 22.5px;
}

.Tile7 {
    z-index: 100;
    margin-top: 637px;
    margin-left: 881px;
    position: absolute;
    width: 145px;
    height: 145px;
    
    background: rgba(247, 246, 245, 0.5);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    border-radius: 15px;
}

.Tile_YouTube_Logo {
    padding: 12.5px;
}

.Empty_Tiles {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    
    font-family: ab-kirigirisu, sans-serif;
    letter-spacing: -0.1em;
}

.At_A_Glance_Background {
    z-index: 0;
    position: relative;
    width: 100%;
    height: min(85.648vh, calc(100vh - 155px));
    background: url(/Mates/Pics/file_2f65263f-acc1-4b90-91dc-0e435bfe1da1_blob.png);
    background-size: cover;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5));
    border-radius: 0 0 30px 30px;
}

.Menu_Bar {
    height: max(14.352vh, 155px);
    padding: 0 36px 0 36px;
    font-family: inherit;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.Menu_Bar h1 {
    font-family: ab-kirigirisu, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: max(5.926vh, 64px);
    color: #660000;
    height: 0px;
}

.Menu_Bar h2 {
    font-family: fot-chiaro-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: max(3.889vh, 42px);
    color: #660000;
}
